*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}

footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
    margin-top: 83.5vh;
    position: absolute;
}

